/* font */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Noto+Sans+TC:wght@100..900&family=Protest+Strike&display=swap');

@font-face {
	font-family: 'Skyscapers';
	src: url('//2ttf.com/webfont/6IF8GLA3aiM/webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'nighty';
	src: url('../src/font/Nightydemo.otf') format('truetype');
}

:root {
  --color-primary: #514742;
  --color-secondary: #dfdad6;
  --color-black: #282828;
}

html, body {
  max-width: 100vw;
  font-size: 16px;
  font-family: "Noto Sans TC", serif;
  color: var(--color-black);
  overflow-x: hidden !important;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

section {
  width: 100%;
  padding: 30px 0;
}

section h2 {
  text-align: center;
  margin: 1.5em 0;
}

section h2>span {
  /* font-family: "Almarai"; */
  font-family: 'Skyscapers';
  font-weight: bold;
  border-bottom: 5px solid var(--color-secondary);
  display: inline-block;
  letter-spacing: 2px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.offcanvas-backdrop {
  z-index: 30;
}

@media (min-width: 576px) {
  section {
    padding: 50px 0;
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 18px;
  }
  section {
    padding: 70px 0;
  }
}

@media (min-width: 992px) {
  html, body {
    font-size: 20px;
  }
  section {
    padding: 90px 0;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}